<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: nav-bar"></div>

</head>
<body>
<div style="margin-left:20%;padding:1px 16px;height:1000px;"></div>

<div class="container body-content">
    <h1>Shopping Cart</h1>
    <table class="cart">
        <tr th:each="image : ${images}">
            <td>
                <p>
                    <a th:href="@{'/cart/' + ${image.id}}" th:text="${image.name}"></a>
                </p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>