<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: nav-bar"></div>
    <title></title>
</head>
<body>
<div style="margin-left:20%;padding:1px 16px;height:1000px;">
    <title>About you page.</title>
    <p>Please fill out the form below with your information.</p>
    <form action="/index">
        <label for="fn">First name:</label><br>
        <input type="text" id="fn" name="fn" value="Jane"><br>
        <label for="ln">Last name:</label><br>
        <input type="text" id="ln" name="ln" value="Doe"><br>


    <p>Please check all that apply.></p>
    <input type="checkbox" id="draw" name="draw" value="Draw">
    <label for="draw">Drawings</label><br>
    <input type="checkbox" id="paint" name="paint" value="Paint">
    <label for="draw">Painter</label><br>
    <input type="checkbox" id="gd" name="gd" value="Graphic">
    <label for="draw">Graphic Designer</label><br>
    <input type="checkbox" id="cer" name="cer" value="Ceramic">
    <label for="draw">Potter</label><br>
    <input type="checkbox" id="metal" name="metal" value="Metalsmith">
    <label for="draw">Metalsmith</label><br>
    <input type="checkbox" id="sculpt" name="sculpt" value="Sculpt">
    <label for="draw">Sculpter</label><br>


        <input type="submit" value="Sumit">
    </form>

</body>
</html>