<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: nav-bar"></div>
    <title></title>
</head>
<body>
<div style="margin-left:20%;padding:1px 16px;height:1000px;">
    <title>About you page.</title>
    <p>Please fill out the form below with your information.</p>
    <form action="/index">
        <label for="fn">First name:</label><br>
        <input type="text" id="fn" name="fn" value="Jane"><br>
        <label for="ln">Last name:</label><br>
        <input type="text" id="ln" name="ln" value="Doe"><br>
        <input type="submit" value="Sumit">
    </form>

</body>
</html>