<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <style>
    h1 {
    color: chocolate;
    text-align: justify;
    font-size: 50px;
    padding: 40px;
    margin-top: 0;
    margin-left: 300px;
    }
    p {
    text-indent: 50px;
    txt-align: justify;
    font-family: verdana;
    font size: 50px;

    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 300px;
    }
    </style>
    <meta charset="UTF-8"/>
    <title>Artist Page</title>


<div th:replace="fragments :: nav-bar"></div>



</head>
<body>

<div style="margin-left:20%;padding:1px 16px;height:1000px;">

    <h1>Lauren Crangle</h1>
    <p>This is the artist statement. Where you write about your passion and inspiration for the work that you produce.
        Why you do the work and journey you took to complete it. This is a little window to inside your head. Your thoughts,
        your dreams, your vision. Anyone can have an idea but it's you as the artist that brings it to life.</p>

</div>
</body>
</html>
