<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container body-content">
<style>
    img {
display:block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
width: 1500px;
height: auto;
}
button {
    background-color: ash;
    text-color: black;
    float: right;
    margin: 40px;
    size: 10%;
    }
</style>

<div>
    <img src="trees.jpg">
</div>

<!--<p>-->
<!--    <a th:href="@{'/view/' + ${image}}"></a>-->
<!--</p>-->
<button type="submit" onclick="document.location='cart'">Add to Cart</button>

</body>
</html>